:root {
  meter::-webkit-meter-bar {
    background: none;
    height: 200%;
    box-sizing: border-box;
    background: repeating-linear-gradient(90deg, #071122, #071122 15px, #162238 15px, #162238 19px) !important;
  }
  meter::-webkit-meter-even-less-good-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-optimum-value {
    background: none;
    box-sizing: border-box;
    background: repeating-linear-gradient(90deg, #fdc242, #fdc242 15px, #162238 15px, #162238 19px) !important;
  }
  meter::-moz-meter-bar {
    background: none;
    box-sizing: border-box;
    background: repeating-linear-gradient(90deg, #fdc242, #fdc242 15px, #162238 15px, #162238 19px) !important;
  }
  meter {
    inline-size: 100px;
    height: 1em;
    line-height: 1em;
    box-sizing: border-box;
    border: 4px solid #162238;
    background: repeating-linear-gradient(90deg, #071122, #071122 15px, #162238 15px, #162238 19px) !important;
  }
}